.Button {
    background-color: transparent;
    border: none;
    color: white;
    outline: none;
    cursor: pointer;
    font: inherit;
    padding: 10px;
    margin: 10px;
    font-weight: bold;
}

.Button:first-of-type {
    margin-left: 0;
    padding-left: 0;
}
.Button:disabled {
    color: #cccccc;
    cursor: not-allowed;
}

.Submit {
    color: #008cff91;
}

.Success {
    color: #5c9210;
}

.Danger {
    color: #944317;
}

.Delete {
    color: #ff2600e5;
    border: '1px solid #ccc';
}

.Warning {
    padding: 5px;
    margin: 5px;
    color: #ffc400;
    border: 1px solid #ccc;
    border-radius: 5px;
}
